@import "tailwindcss";
@plugin "daisyui" {
  logs: false;
}
@plugin "daisyui/theme" {
  name: "default";
  default: true;
  prefersdark: true;

  --color-primary: #0284c7;
  --color-secondary: #0ea5e9;
  --color-accent: #38bdf8;
  --color-neutral: #191d24;
  --color-base-100: #2a303c;
  --color-info: #3abff8;
  --color-success: #36d399;
  --color-warning: #fbbd23;
  --color-error: #f87272;
}

@theme {
  --color-primary: #0284c7;
  --color-secondary: #0ea5e9;
  --color-accent: #38bdf8;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 100px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  @apply text-xl leading-loose;
}

@utility center {
  @apply flex flex-1 items-center justify-center;
}
