# Logs
logs
*.log
pnpm-debug.log*

node_modules
.pnpm-store
dist
build
*.local

# Manual testing
test.ts

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*storybook.log
